<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{ 'RIDER.LIST' | translate }}</h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Datatable -->
        <div class="kt-section">
            <div class="scrlbl_table">
                <table class="table table-striped- table-bordered table-hover table-checkable action_tbl rider_mangmt_tbl" id="kt_datatable">
                </table>
            </div>
        </div>
    </div>
</div>