.modal-backdrop.show{
    opacity:0.5 !important;
}

.modal-backdrop{
    z-index: 1040 !important;
}
.scrlbl_table {overflow-x: auto;}

.kt-page-loader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 30%;
}