<!-- begin:: Content Head -->
<div class="kt-subheader kt-grid__item" [ngClass]="{'kt-container--clear': clear}"  id="kt_subheader">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-subheader__main">
			<h3 class="kt-subheader__title">{{title}}</h3>
			<!-- <h3 *ngIf="title && title == 'Dashboard'" class="kt-subheader__title">{{'MENU.DASHBOARD' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Course Management'" class="kt-subheader__title">{{'MENU.COURSE' | translate }}</h3>
			<h3 *ngIf="title&& title == 'CMS Management'" class="kt-subheader__title">{{'MENU.CMS' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Contact Management'" class="kt-subheader__title">{{'MENU.CONTACT' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Admin Management'" class="kt-subheader__title">{{'MENU.ADMIN' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Service Type Management'" class="kt-subheader__title">{{'MENU.SERVICE_TYPE' | translate }}</h3>
			<h3 *ngIf="title&& title == 'City Management'" class="kt-subheader__title">{{'MENU.CITY' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Country Management'" class="kt-subheader__title">{{'MENU.COUNTRY' | translate }}</h3>
			<h3 *ngIf="title&& title == 'My Profile'" class="kt-subheader__title">{{'MENU.PROFILE' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Template Management'" class="kt-subheader__title">{{'MENU.TEMPLATE' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Role Management'" class="kt-subheader__title">{{'MENU.ROLES' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Operator Management'" class="kt-subheader__title">{{'MENU.OPERATOR' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Rider Management'" class="kt-subheader__title">{{'MENU.RIDER' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Driver Management'" class="kt-subheader__title">{{'MENU.DRIVER' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Help Topic Management'" class="kt-subheader__title">{{'MENU.HELP_TOPIC' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Help Management'" class="kt-subheader__title">{{'MENU.HELP' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Time Frame Management'" class="kt-subheader__title">{{'MENU.TIME_FRAME' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Time Frame Management'" class="kt-subheader__title">{{'MENU.FARE_CALCULATION' | translate }}</h3>
			<h4 *ngIf="desc" class="kt-subheader__desc">{{desc}}</h4>-->
			<!-- <h4 class="kt-subheader__desc">#XRS-45670</h4>
			<a href="javascript:;" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
				Add New
			</a> -->
			<!-- <h3 *ngIf="title&& title == 'Service Operator Management'" class="kt-subheader__title">{{'MENU.SERVICE_OPERATOR' | translate }}</h3>
			<h3 *ngIf="title&& title == 'Time Frame Management'" class="kt-subheader__title">{{'MENU.TIME_FRAME' | translate }}</h3> --> 
		</div>
		<div class="kt-subheader__toolbar">
			<div class="kt-subheader__wrapper">
			</div>
		</div>
	</div>
</div>
<!-- end:: Content Head -->
