.ht-auto {height: auto !important;}
.inln_ckbx {
    display: inline-block;
     height: 20px;
     width: 20px;
     vertical-align: middle;
     margin-left: 15px;
 }
 .mrgn_tp_ckb {margin-top: 37px;}
 .was-validated .form-control:invalid, .form-control.is-invalid {
    background-position: right calc(0.375em + 1.325rem) center !important;
}