.modal-backdrop.show{
    z-index:-1 !important;
}


.kt-page-loader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 30%;
}