<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" *ngIf="isAdd">{{'AUTOMATIC_DRIVER_ASSIGN.ADD' | translate}}</h3>
            <h3 class="kt-portlet__head-title" *ngIf="!isAdd">{{'AUTOMATIC_DRIVER_ASSIGN.EDIT' | translate}}</h3>
        </div>
        <div class="btn kt-portlet__head-label">
            <a href="javascript:;" routerLink="/automatic-driver-assign/list" class="btn btn-brand btn-elevate btn-icon-sm">
                <i class="la la-left-arrow"></i>{{'BUTTONS.BACK' | translate }}</a>
        </div>
    </div>
    <div class="kt-portlet_body">
        <form class="kt-form kt-form__group" name="addEditDriverAssignForm" [formGroup]="addEditDriverAssignForm">
            <div class="kt-portlet__body">

                <!-- country -->
                <div class="form-group row">
                    <!-- <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.COUNTRY' | translate}} *
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="country"
                                (change)="changeCountry($event.target.value)"
                                formControlName="automaticDriverAssign_countryId"
                                [ngClass]="{'is-invalid': submitted && addEditDriverAssignForm.controls.automaticDriverAssign_countryId.errors}">
                                <option value="">{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.COUNTRY' | translate}}</option>
                                <option value="{{country._id}}" *ngFor="let country of countries">
                                    {{country.country_name}}
                                </option>
                            </select>
                            <div *ngIf="submitted&&addEditDriverAssignForm.controls.automaticDriverAssign_countryId.errors"
                                class="form-control-feedback" style="color:red"> 
                                <p *ngIf="submitted&&addEditDriverAssignForm.controls.automaticDriverAssign_countryId.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                            </div>
                        </div>
                    </div> -->

                    <!-- City -->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.CITY' | translate}} *
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select *ngIf="isAdd" class="form-control m-input" id="city" (change)="changeCity($event.target.value,1)" formControlName="automaticDriverAssign_cityId" [ngClass]="{'is-invalid': submitted && addEditDriverAssignForm.controls.automaticDriverAssign_cityId.errors}">
                                <option value="">{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.CITY' | translate}}</option>
                                <option value="{{city._id}}" *ngFor="let city of cities">
                                    {{city.city_name}}
                                </option>
                            </select>
                            <select *ngIf="!isAdd" class="form-control m-input" id="city" (change)="changeCity($event.target.value,1)" formControlName="automaticDriverAssign_cityId" [ngClass]="{'is-invalid': submitted && addEditDriverAssignForm.controls.automaticDriverAssign_cityId.errors}"
                                disabled>
                                <option value="">{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.CITY' | translate}}</option>
                                <option value="{{city._id}}" *ngFor="let city of cities">
                                    {{city.city_name}}
                                </option>
                            </select>
                            <div *ngIf="submitted&&addEditDriverAssignForm.controls.automaticDriverAssign_cityId.errors" class="form-control-feedback" style="color:red">
                                <p *ngIf="submitted&&addEditDriverAssignForm.controls.automaticDriverAssign_cityId.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->

                    <!-- franchise -->
                    <!-- <div class="form-group row"> -->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.FRANCHISE' | translate}} *
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select *ngIf="isAdd" class="form-control m-input" id="franchise" formControlName="automaticDriverAssign_franchiseId" [ngClass]="{'is-invalid': submitted && addEditDriverAssignForm.controls.automaticDriverAssign_franchiseId.errors}">
                                <option value="">{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.FRANCHISE' | translate}}
                                </option>
                                <option value="{{franchise._id}}" *ngFor="let franchise of operators">
                                    {{franchise.operatorName}}
                                </option>
                            </select>
                            <select *ngIf="!isAdd" class="form-control m-input" id="franchise" formControlName="automaticDriverAssign_franchiseId" [ngClass]="{'is-invalid': submitted && addEditDriverAssignForm.controls.automaticDriverAssign_franchiseId.errors}" disabled>
                                <option value="">{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.FRANCHISE' | translate}}
                                </option>
                                <option value="{{franchise._id}}" *ngFor="let franchise of operators">
                                    {{franchise.operatorName}}
                                </option>
                            </select>
                            <div *ngIf="submitted && addEditDriverAssignForm.controls.automaticDriverAssign_franchiseId.errors" class="form-control-feedback" style="color:red">
                                <p *ngIf="submitted&&addEditDriverAssignForm.controls.automaticDriverAssign_franchiseId.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <!-- Time To Reach Pickup -->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.TIME_TO_REACH_PICKUP' | translate}} *
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" placeholder="{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.TIME_TO_REACH_PICKUP' | translate}}" type="text" formControlName="automaticDriverAssign_timeToReachPickup" [ngClass]="{'is-invalid':submitted && addEditDriverAssignForm.controls.automaticDriverAssign_timeToReachPickup.errors}">
                            <div *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_timeToReachPickup.errors" class="for-control-feedback" style="color: red">
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_timeToReachPickup.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_timeToReachPickup.errors?.pattern">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.INVALID_VALUE' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->

                    <!-- Distance From Pickup -->
                    <!-- <div class="form-group row"> -->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.DISTANCE_FORM_PICKUP' | translate}} *
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" placeholder="{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.DISTANCE_FORM_PICKUP' | translate}}" type="text" formControlName="automaticDriverAssign_distanceFromPickup" [ngClass]="{'is-invalid':submitted && addEditDriverAssignForm.controls.automaticDriverAssign_distanceFromPickup.errors}">
                            <div *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_distanceFromPickup.errors" class="for-control-feedback" style="color: red">
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_distanceFromPickup.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_distanceFromPickup.errors?.pattern">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.INVALID_VALUE' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <!-- Driver Idel Time -->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.DRIVER_IDEL_TIME' | translate}} *
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" placeholder="{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.DRIVER_IDEL_TIME' | translate}}" type="text" formControlName="automaticDriverAssign_driverIdleTime" [ngClass]="{'is-invalid':submitted && addEditDriverAssignForm.controls.automaticDriverAssign_driverIdleTime.errors}">
                            <div *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_driverIdleTime.errors" class="for-control-feedback" style="color: red">
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_driverIdleTime.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_driverIdleTime.errors?.pattern">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.INVALID_VALUE' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- No driver available time-->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.NO_DRIVER_AVAILABLE_TIME' | translate}} *
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" placeholder="{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.NO_DRIVER_AVAILABLE_TIME' | translate}}" type="text" formControlName="automaticDriverAssign_no_driver_available_time" [ngClass]="{'is-invalid':submitted && addEditDriverAssignForm.controls.automaticDriverAssign_no_driver_available_time.errors}">
                            <div *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_no_driver_available_time.errors" class="for-control-feedback" style="color: red">
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_no_driver_available_time.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_no_driver_available_time.errors?.pattern">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.INVALID_VALUE' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <!-- Automatic driver cancellation time-->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.AUTO_CANCELLATION_TIME' | translate}} *
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" placeholder="{{'AUTOMATIC_DRIVER_ASSIGN.PLACEHOLDERS.AUTO_CANCELLATION_TIME' | translate}}" type="text" formControlName="automaticDriverAssign_auto_cancellation_time" [ngClass]="{'is-invalid':submitted && addEditDriverAssignForm.controls.automaticDriverAssign_auto_cancellation_time.errors}">
                            <div *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_auto_cancellation_time.errors" class="for-control-feedback" style="color: red">
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_auto_cancellation_time.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                                <p *ngIf="submitted &&  addEditDriverAssignForm.controls.automaticDriverAssign_auto_cancellation_time.errors?.pattern">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.INVALID_VALUE' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Automatic Driver Assign Status-->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.STATUS' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="automaticDriverAssign_status" [ngClass]="{'isInvalid': submitted && addEditDriverAssignForm.controls.automaticDriverAssign_status.errors}">
                                <option value="ACTIVE" selected> {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.ACTIVE' | translate}}
                                </option>
                                <option value="INACTIVE"> {{'AUTOMATIC_DRIVER_ASSIGN.LABEL.INACTIVE' | translate}}
                                </option>
                            </select>
                            <div *ngIf="submitted && addEditDriverAssignForm.controls.automaticDriverAssign_status.errors" class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditDriverAssignForm.controls.automaticDriverAssign_status.errors?.required">
                                    {{'AUTOMATIC_DRIVER_ASSIGN.VALIDATION.FIELD_REQUIRED' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xl-12">
                        <div class="col-xl-12">
                            <button type="button" routerLink="/automatic-driver-assign/list" class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate}}</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.SUBMIT' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>