<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Permission Matrix </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer">
            <thead>
                <tr>
                    <th class="center">Module Name</th>
                    <th class="center" *ngFor="let selectedPermission of selectedPermissions"> {{selectedPermission._id.role_name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">Select All/UnSelect All</td>
                    <td class="center" *ngFor="let selectedPermission of selectedPermissions"> 
                        <label class="kt-checkbox kt-checkbox--bold  kt-checkbox--brand">
                            <input type="checkbox" [class] ="selectedPermission._id.role_slug"    (change)="selectAll($event)" [attr.data-roleId]="selectedPermission._id._id"> 
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr *ngFor="let permission of allPermissions">
                    <td class="center">{{permission.module_name}} </td>
                    <td class="center" *ngFor="let selectedPermission of selectedPermissions"> 
                        <label class="kt-checkbox kt-checkbox--bold  kt-checkbox--brand">
                            <input type="checkbox" [id] = "selectedPermission._id.role_slug+'_'+permission.per_id"  [attr.checked]="checkHasSelected(permission.per_id,selectedPermission.permissions)" (change)="onchangeCheckbox(permission.per_id,$event,selectedPermission._id._id)" [attr.data-permissionId]="permission.per_id" [attr.data-roleId] = "selectedPermission._id._id" [class] ="selectedPermission._id.role_slug" > 
                            <span></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group  row">
            <div class="col-xl-12">
                    <button type="button" routerLink="/roles/list"
                    class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate }}</button>
                    <button type="submit" (click)="onSubmit()"
                    class="btn btn-brand btn-elevate btn-icon-sm bt-right"> {{'BUTTONS.SUBMIT' | translate }}
                    </button>
            </div>
        </div>
    </div>
</div>
