/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}
// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}
// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}
// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}
// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {display: none !important;}
.mat-table__wrapper--dashboard .mat-table {min-width: 600px !important;width: 100% !important;}
.position-static {position: static;}
 .multiselect_drpdwn .selected-list .c-btn{
	color: #495057;
    background-color: #fff;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    outline: none !important;
    font-weight: 400;
 }
 .multiselect_drpdwn .selected-list .c-list .c-token .c-remove svg {fill: #000;}
 .multiselect_drpdwn .selected-list .c-btn > span{font-size: 1rem;}
 .was-validated select.form-control:invalid, select.form-control.is-invalid {background-position: right calc(0.375em + 0.925rem) center;}
 .form-control:invalid + div, .form-control.is-invalid + div{margin-top: 10px;}
 .mbl-sct select{
	max-width: 200px;
    border-right: none !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
 }
 .mbl-sct input{border-top-left-radius: 0;border-bottom-left-radius: 0;}
 .kt-form .kt-portlet__body{padding: 0 !important;}
//  .dataTables_processing{
// 	 position: fixed !important;
//     width: 100% !important;
//     height: 100% !important;
//     top: 0 !important;
//     left: 0 !important;
//     right: 0 !important;
//     bottom: 0 !important;
//     background-color: rgba(0,0,0,0.3) !important;
//     z-index: 9999 !important;
//     margin: 0 !important;
//     border: none !important;
//     align-items: center !important;
//     justify-content: center !important;
//     color: #fff !important;
//  }
 .kt-page-loader:before{
    content: "" !important;
   position: fixed !important;
   width: 100% !important;
   height: 100% !important;
   top: 0 !important;
   left: 0 !important;
   right: 0 !important;
   bottom: 0 !important;
   background-color: rgba(0,0,0,0.3) !important;
   z-index: 9999 !important;
 }
 .kt-page-loader .kt-blockui {z-index: 99999;position: relative;}
 @media screen and (max-width: 1300px) {.dataTables_wrapper {overflow-x: auto;}}
 .kt-portlet__body>.kt-section {margin-bottom: 0 !important;}
//  .kt-page-loader.kt-page-loader--non-block, .kt-page-loader {
//    background: rgba(0,0,0,0.3) !important;
//    position: fixed !important;
//    top: 0 !important;
//    left: 0 !important;
//    right: auto !important;
//    bottom: auto !important;
//    width: 100% !important;
//    height: 100% !important;
//    margin: 0 !important;
// }
// .kt-page-loader .kt-blockui{
//    margin: 0 auto !important;
//    margin-top: 24% !important;
// }
.inln_ckbx {
   display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 15px;
}
select.form-control {padding-left: 5px !important;}
.action_tbl thead tr.filter th:last-child {white-space: nowrap;}
.muti_select .selected-list .c-btn {
   border: 1px solid #e2e5ec;
   border-radius: 4px;
   outline: none !important;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.muti_select .selected-list .c-list .c-token .c-remove svg {
   fill: #000;
}
.muti_select .selected-list .c-list .c-token .c-label {
   color: #495057;
   font-size: 13px;
   font-weight: 400;
}
.muti_select .dropdown-list ul li{background-color: transparent;color: #212121;}
.muti_select .dropdown-list ul li:hover{    background-color: #F3F6F9;}
.kt-footer .kt-footer__copyright .kt-link{position: initial;}

.reason_tbl th:nth-child(6){
   min-width: 100px;
}
.admin_mangmt_tbl th:nth-child(7){
   min-width: 100px;
}
.admin_mangmt_tbl th:nth-child(6){
   min-width: 80px;
}
.operator_mangmt_tbl th:nth-child(7){
   min-width: 100px;
}
.rider_mangmt_tbl th:nth-child(7){
   min-width: 100px;
}
.rider_mangmt_tbl th:nth-child(8){
   min-width: 110px;
}
.driver_mangmt_tbl th:nth-child(8){
   min-width: 100px;
}
.driver_mangmt_tbl th:nth-child(9){
   min-width: 110px;
} 
.automatic_mangmt_tbl th:nth-child(7){
   min-width: 100px;
}
.ride-reqst_mangmt_tbl th:nth-child(2){
   min-width: 80px;
}
.ride-reqst_mangmt_tbl th:nth-child(3){
   min-width: 80px;
}
.ride-reqst_mangmt_tbl th:nth-child(4){
   min-width: 80px;
}
.ride-reqst_mangmt_tbl th:nth-child(7){
   min-width: 110px;
}
.fare-calcl_mangmt_tbl th:nth-child(5) {
   min-width: 100px;
}
.emailtempate_mangmt_tbl th:nth-child(4) {
   min-width: 100px;
}
.kt-aside-menu .kt-menu__nav .kt-menu__item > .kt-menu__link .kt-menu__link-text{ white-space: break-spaces;}