:host {
	height: 100%;
	margin: 0;
}

.kt-blockui{
	background: #fff;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .1);
	box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .1);
	border-radius: 4px;
    display: table;
    table-layout: fixed;
}
.kt-blockui>span {
    display: table-cell;
    vertical-align: middle;
    padding: 8px 15px;
	font-size: 1rem;
	font-weight: 400;
}
.kt-blockui>span {
    color: #6f727d;

}
.kt-loader {
    position: relative;
}
.kt-blockui>span>.kt-loader, .kt-blockui>span>.m-spinner {
    margin-right: 10px;
}

.kt-loader:before {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -.7rem;
    margin-left: -.7rem;
    border-top-width: 2px;
    border-right-width: 2px;
}
.kt-loader:before {
    border-top-color: #dfe2ea;
}
.kt-loader.kt-loader--brand:before {
    border-top-color: #09aaf8;
}