<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" *ngIf="isAdd">{{'RIDE_RATING.ADD' | translate}}</h3>
            <h3 class="kt-portlet__head-title" *ngIf="!isAdd">{{'RIDE_RATING.VIEW' | translate}}</h3>
        </div>
        <div class="btn kt-portlet__head-label">
            <a href="javascript:;" routerLink="/ride-rating-management/list" class="btn btn-brand btn-elevate btn-icon-sm"><i
                    class="la la-left-arrow"></i>{{'BUTTONS.BACK' | translate }}</a>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form class="kt-form kt-form__group" name="addEditRideRatingForm" [formGroup]="addEditRideRatingForm">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <!-- rider id -->
                    <div class="col-lg-6"> 
                        <!-- <div class="col-lg-6"> -->
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_RATING.LABEL.RIDER_ID' | translate}} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRating_ride_Id }}
                            </label>
                        <!-- </div> -->
                    </div>
                    <!-- from -->
                    <div class="col-lg-6">
                        <!-- <div class="col-lg-6"> ride rating from -->
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_RATING.LABEL.RIDE_RATING_FROM' | translate}} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRating_fromUser }}
                            </label>
                        <!-- </div> -->
                    </div>
                    <!-- to -->
                    <div class="col-lg-6">
                        <!-- <div class="col-lg-6"> -->
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_RATING.LABEL.RIDE_RATING_TO' | translate}} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRating_toUser }}
                            </label>
                        <!-- </div> -->
                    </div>
                    <!-- rated by -->
                    <div class="col-lg-6"> 
                            <!-- <div class="col-lg-6"> -->
                                <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                    {{'RIDE_RATING.LABEL.RATED_BY' | translate}} :
                                </label>
                                <label for="example-text-input" class="col-form-label">
                                    {{ rideRating_roleId }}
                                </label>
                            <!-- </div> -->
                    </div>
                    <!-- average rating -->
                    <div class="col-lg-6">
                        <!-- <div class="col-lg-6"> -->
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_RATING.LABEL.RATING' | translate}} :
                            </label>
                            <ngb-rating [max]="5" [(rate)]="rideRating_rating" [readonly]="true" disabled></ngb-rating>
                        <!-- </div> -->
                    </div>
                    <!-- Good Feed back -->
                    <div class="col-lg-6">
                        <!-- <div class="col-lg-6"> -->
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_RATING.LABEL.GOOD_FEEDBACK' | translate}} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                 {{ rideRating_good_feedback }}
                            </label>
                        <!-- </div> -->
                    </div>
                    <!-- Bad feed back -->
                    <div class="col-lg-6">
                        <!-- <div class="col-lg-6"> -->
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_RATING.LABEL.BAD_FEEDBACK' | translate}} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRating_bad_feedback }}
                            </label>
                        <!-- </div> -->
                    </div>
                </div>    
                <!-- <div class="form-group row">
                    <div class="col-xl-12">
                        <div class="col-xl-12">
                            <button type="button" routerLink="/model/list" class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate}}</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-brand btn-elevate btn-icon-sm bt-right">{{'BUTTONS.SUBMIT' | translate}}</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </form>
    </div>
</div>