<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" *ngIf="isAdd">{{'TIMEFRAME.ADD' | translate }} </h3>
            <h3 class="kt-portlet__head-title" *ngIf="!isAdd">{{'TIMEFRAME.EDIT' | translate }}</h3>
        </div>
        <div class="btn kt-portlet__head-label">
            <a href="javascript:;" routerLink="/time-frame/list" class="btn btn-brand btn-elevate btn-icon-sm"><i
                    class="la la-left-arrow"></i>{{'BUTTONS.BACK' | translate }}</a>
        </div>
    </div>

    <div class="kt-portlet__body">

        <form class="kt-form kt-form__group" name="addEditTimeFrameForm" [formGroup]="addEditTimeFrameForm">
            <div class="kt-portlet__body">
                <div class="form-group  row">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'TIMEFRAME.LABEL.TIMEFRAME_TYPE' | translate}}*
                            </label>
                        </div>
                        <!-- timeFrame_timeType -->
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="timeFrame_timeType"
                                [ngClass]="{ 'is-invalid': submitted && addEditTimeFrameForm.controls.timeFrame_timeType.errors }">
                                <option value="{{'TIMEFRAME.PLACEHOLDERS.DAY' | translate}}">
                                    {{'TIMEFRAME.LABEL.DAY' | translate }}</option>
                                <option value="{{'TIMEFRAME.PLACEHOLDERS.NIGHT' | translate}}">
                                    {{'TIMEFRAME.LABEL.NIGHT' | translate }}</option>
                            </select>
                            <div *ngIf="submitted && addEditTimeFrameForm.controls.timeFrame_timeType.errors"
                                class="form-control-feedback" style="color: red">
                                <p
                                    *ngIf="submitted && addEditTimeFrameForm.controls.timeFrame_timeType.errors?.required">
                                    {{'TIMEFRAME.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                     <!-- -----------from time -->
                     <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'TIMEFRAME.LABEL.TIMEFRAME_FROM_TIME' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input formControlName="timeFrame_fromTime" class="form-control m-input" type="time"
                                atp-time-picker value="8:55" onlyHour="true" onlyAM='true' />
                        </div>
                        <div *ngIf="submitted && addEditTimeFrameForm.controls.timeFrame_fromTime.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && addEditTimeFrameForm.controls.timeFrame_fromTime.errors?.required">
                                {{'HELP.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group  row">
                    <!-- -----------to time -->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'TIMEFRAME.LABEL.TIMEFRAME_TO_TIME' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input formControlName="timeFrame_toTime" type="time" atp-time-picker value="8:55"
                                onlyHour="true" onlyAM='true' class="form-control m-input" />
                        </div>
                        <div *ngIf="submitted && addEditTimeFrameForm.controls.timeFrame_toTime.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && addEditTimeFrameForm.controls.timeFrame_toTime.errors?.required">
                                {{'HELP.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                        </div>
                    </div>
                
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'TIMEFRAME.LABEL.TIMEFRAME_STATUS' | translate}}*
                            </label>
                        </div>
                        <!-- timeFrame_status -->
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="timeFrame_status"
                                [ngClass]="{ 'is-invalid': submitted && addEditTimeFrameForm.controls.timeFrame_status.errors }">
                                <option value="{{'TIMEFRAME.PLACEHOLDERS.ACTIVE' | translate}}">
                                    {{'COUNTRY.LABEL.ACTIVE' | translate }}</option>
                                <option value="{{'TIMEFRAME.PLACEHOLDERS.INACTIVE' | translate}}">
                                    {{'COUNTRY.LABEL.INACTIVE' | translate }}</option>
                            </select>
                            <div *ngIf="submitted && addEditTimeFrameForm.controls.timeFrame_status.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditTimeFrameForm.controls.timeFrame_status.errors?.required">
                                    {{'TIMEFRAME.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group  row">
                    <div class="col-xl-12">
                        <div class="col-xl-12">
                           <button type="button" routerLink="/time-frame/list"
                            class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate }}</button>
                            <button type="submit" (click)="onSubmit()" 
                            class="btn btn-brand btn-elevate btn-icon-sm bt-right"> {{'BUTTONS.SUBMIT' | translate }}
                        </button>
                        </div>
                   </div>
                </div>

            </div>
        </form>
    </div>
</div>