.dataTables_wrapper {
  padding: 0 !important; }
  .dataTables_wrapper .dataTable {
    width: 100% !important;
    border-collapse: initial !important;
    border-spacing: 0 !important;
    margin: 1rem 0 !important; }
    .dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
      vertical-align: middle; }
      .dataTables_wrapper .dataTable th .kt-checkbox, .dataTables_wrapper .dataTable td .kt-checkbox {
        margin-top: 0.3rem;
        margin-bottom: 0; }
      .dataTables_wrapper .dataTable th.dt-center, .dataTables_wrapper .dataTable td.dt-center {
        text-align: center; }
      .dataTables_wrapper .dataTable th.dt-left, .dataTables_wrapper .dataTable td.dt-left {
        text-align: left; }
      .dataTables_wrapper .dataTable th.dt-right, .dataTables_wrapper .dataTable td.dt-right {
        text-align: right; }
      .dataTables_wrapper .dataTable th.sorting_desc:before, .dataTables_wrapper .dataTable th.sorting_desc:after, .dataTables_wrapper .dataTable th.orting_asc_disabled:before, .dataTables_wrapper .dataTable th.orting_asc_disabled:after, .dataTables_wrapper .dataTable th.orting_desc_disabled:before, .dataTables_wrapper .dataTable th.orting_desc_disabled:after, .dataTables_wrapper .dataTable th.sorting_asc:before, .dataTables_wrapper .dataTable th.sorting_asc:after, .dataTables_wrapper .dataTable th.sorting:before, .dataTables_wrapper .dataTable th.sorting:after, .dataTables_wrapper .dataTable td.sorting_desc:before, .dataTables_wrapper .dataTable td.sorting_desc:after, .dataTables_wrapper .dataTable td.orting_asc_disabled:before, .dataTables_wrapper .dataTable td.orting_asc_disabled:after, .dataTables_wrapper .dataTable td.orting_desc_disabled:before, .dataTables_wrapper .dataTable td.orting_desc_disabled:after, .dataTables_wrapper .dataTable td.sorting_asc:before, .dataTables_wrapper .dataTable td.sorting_asc:after, .dataTables_wrapper .dataTable td.sorting:before, .dataTables_wrapper .dataTable td.sorting:after {
        bottom: 1.25rem !important; }
    .dataTables_wrapper .dataTable .filter th, .dataTables_wrapper .dataTable .filter td {
      vertical-align: top; }
      .dataTables_wrapper .dataTable .filter th .input-group + .input-group, .dataTables_wrapper .dataTable .filter td .input-group + .input-group {
        margin-top: 0.5rem; }
      .dataTables_wrapper .dataTable .filter th .btn + .btn, .dataTables_wrapper .dataTable .filter td .btn + .btn {
        margin-top: 0.5rem; }
    .dataTables_wrapper .dataTable .group th, .dataTables_wrapper .dataTable .group td {
      font-size: 1.1rem;
      font-weight: 500; }
  .dataTables_wrapper .dataTables_scroll {
    margin: 1rem 0 !important; }
    .dataTables_wrapper .dataTables_scroll .dataTable {
      margin: 0 !important; }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item {
    margin-left: 0.4rem; }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link {
      border-radius: 3px;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 2.25rem;
      min-width: 2.25rem;
      vertical-align: middle;
      padding: 0.5rem;
      text-align: center;
      position: relative;
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 400; }
      .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link > i {
        font-size: 1rem;
        text-align: center;
        display: inline-block; }
  .dataTables_wrapper .text-right .dataTables_filter,
  .dataTables_wrapper .text-left .dataTables_filter {
    display: inline-block; }
  .dataTables_wrapper .dataTables_info {
    padding-top: 0.45rem; }
  .dataTables_wrapper .dataTables_pager {
    text-align: right; }
    .dataTables_wrapper .dataTables_pager .dataTables_length {
      margin-right: 0.5rem;
      display: inline-block; }
      .dataTables_wrapper .dataTables_pager .dataTables_length + .dataTables_paginate {
        margin-left: 1rem; }
    .dataTables_wrapper .dataTables_pager .dataTables_info {
      display: inline-block;
      margin-right: 0.5rem; }
    .dataTables_wrapper .dataTables_pager .dataTables_paginate {
      display: inline-block; }
  @media (max-width: 1024px) {
    .dataTables_wrapper .dataTables_pager {
      margin-top: 1rem;
      text-align: center; } }
  @media (max-width: 768px) {
    .dataTables_wrapper .dataTables_paginate {
      margin-left: 0 !important; }
      .dataTables_wrapper .dataTables_paginate .pagination .page-item:first-child {
        margin-left: 0 !important; }
    .dataTables_wrapper .dataTables_paginate .pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    top: 50%;
    left: 8px;
    height: 18px;
    width: 18px;
    margin-top: -9px;
    font-size: 18px;
    color: #5d78ff;
    border: 0;
    background-color: transparent;
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "ï‹ƒ"; }
  .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "ïŠ";
    color: #5d78ff;
    background-color: transparent; }
  .dataTables_wrapper .child .dtr-details {
    display: table !important; }
    .dataTables_wrapper .child .dtr-details > li {
      display: table-row !important;
      border: 0 !important; }
      .dataTables_wrapper .child .dtr-details > li .dtr-title {
        display: table-cell;
        vertical-align: top;
        border-bottom: 1px dashed #efefef;
        font-weight: 500;
        padding: 0.5rem 2rem 0.5rem 0; }
        .dataTables_wrapper .child .dtr-details > li .dtr-title:after {
          content: ':'; }
      .dataTables_wrapper .child .dtr-details > li .dtr-data {
        display: table-cell;
        vertical-align: top;
        border-bottom: 1px dashed #efefef;
        padding: 0.5rem 0; }
      .dataTables_wrapper .child .dtr-details > li:last-child .dtr-title {
        border-bottom: 0; }
      .dataTables_wrapper .child .dtr-details > li:last-child .dtr-data {
        border-bottom: 0; }

.dt-bootstrap4 .dropdown .dropdown-menu.dropdown-menu-right {
  /*rtl:ignore*/
  margin-left: 65px; }

.dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
  color: #595d6e; }

.dataTables_wrapper .dataTable .selected th, .dataTables_wrapper .dataTable .selected td {
  background-color: #f7f8fa;
  color: #595d6e; }

.dataTables_wrapper .dataTable .group th, .dataTables_wrapper .dataTable .group td {
  background-color: #f7f8fa; }

.dataTables_wrapper .pagination .page-item > .page-link {
  color: #595d6e;
  border: 0;
  outline: none !important; }

.dataTables_wrapper .pagination .page-item.previous > .page-link, .dataTables_wrapper .pagination .page-item.next > .page-link, .dataTables_wrapper .pagination .page-item.last > .page-link, .dataTables_wrapper .pagination .page-item.first > .page-link {
  background: #ebe9f2; }
  .dataTables_wrapper .pagination .page-item.previous > .page-link:hover, .dataTables_wrapper .pagination .page-item.next > .page-link:hover, .dataTables_wrapper .pagination .page-item.last > .page-link:hover, .dataTables_wrapper .pagination .page-item.first > .page-link:hover {
    background: #5d78ff;
    color: #ffffff; }

.dataTables_wrapper .pagination .page-item.active > .page-link {
  background: #5d78ff;
  color: #ffffff; }

.dataTables_wrapper .pagination .page-item:hover > .page-link {
  background: #5d78ff;
  color: #ffffff; }

.dataTables_wrapper .pagination .page-item.disabled > .page-link, .dataTables_wrapper .pagination .page-item.disabled:hover > .page-link {
  opacity: 0.6; }
