@import "sass/pages/login/login-1";

.kt-login__logo{
	text-align: center !important;
    display: block;
    
    margin-bottom: 30px;
    margin-top:17%;
}
.kt-login__logo img{
    height: 100px;
  
}
.kt-login__logo h3{
    padding: 50px;
}
