<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--begin: Search -->
	<!--end: Search -->

	<!--begin: My Cart -->
	<!-- <kt-cart [bgImage]="'./assets/media/misc/bg-1.jpg'" [icon]="'./assets/media/icons/svg/Shopping/Cart3.svg'" [useSVG]="true"></kt-cart> -->
	<!--end: My Cart -->
	<!--begin: Quick panel toggler -->
	<!-- <div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-placement="bottom" ngbTooltip="Quick panel">
		<span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">
			<span class="kt-svg-icon" [inlineSVG]="'./assets/media/icons/svg/Layout/Layout-4-blocks.svg'"></span>
		</span>
	</div> -->
	<!--end: Quick panel toggler -->
<!-- ----------------------for language -->
	<div ngbDropdown placement="bottom" class="kt-header__topbar-item kt-header__topbar-item--langs">
		<div ngbDropdownToggle class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon"
				[ngClass]="{ 'kt-header__topbar-icon--brand' : iconType === 'brand' }">
				<img class="" src="{{language?.flag}}" alt=""/>
			</span>
		</div>
		<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
			<ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
				<ng-container *ngFor="let language of languages">
					<li class="kt-nav__item" [ngClass]="{'kt-nav__item--active': language.active}">
						<a href="javascript:;" (click)="setLanguage(language.lang)" [ngClass]="{'kt-nav__link--active': language.active}" class="kt-nav__link">
							<span class="kt-nav__link-icon">
								<img src="{{language.flag}}">
							</span>
							<span class="kt-nav__link-text">{{language.name}}</span>
						</a>
					</li>
				</ng-container>
			</ul>
		</div>
	</div>
	
<!-- ----------------------for language -->


	<!--begin: User bar -->
	<kt-user-profile></kt-user-profile>
	<!--end: User bar -->
</div>
<!-- end:: Header Topbar -->
