<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" *ngIf="isAdd">{{'REASON.ADD' | translate }} </h3>
            <h3 class="kt-portlet__head-title" *ngIf="!isAdd">{{'REASON.EDIT' | translate }}</h3>
        </div>
        <div class="btn kt-portlet__head-label">
            <a href="javascript:;" routerLink="/reason/list" class="btn btn-brand btn-elevate btn-icon-sm">
                <i class="la la-left-arrow"></i>{{'BUTTONS.BACK' | translate }}</a>
        </div>
    </div>

    <div class="kt-portlet__body">

        <form class="kt-form kt-form__group" name="addEditReasonForm" [formGroup]="addEditReasonForm">
            <div class="kt-portlet__body">
                <!-- reason type & reason name -->
                <div class="form-group  row">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'REASON.LABEL.REASON_TYPE' | translate}}*
                            </label>
                        </div>
                        <!-- reason_type -->
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="reason_type"
                                (change)="selectInput($event)"
                                [ngClass]="{ 'is-invalid': submitted && addEditReasonForm.controls.reason_type.errors }">
                                <option value="">
                                    {{'REASON.LABEL.SELECT_REASONTYPE' | translate }}</option>
                                <option value="{{'REASON.PLACEHOLDERS.REFUND' | translate}}">
                                    {{'REASON.LABEL.REFUND' | translate }}</option>
                                <option value="{{'REASON.PLACEHOLDERS.CANCELLATION' | translate}}">
                                    {{'REASON.LABEL.CANCELLATION' | translate }}</option>
                            </select>
                            <div *ngIf="submitted && addEditReasonForm.controls.reason_type.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_type.errors?.required">
                                    {{'REASON.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="!isNameSelected">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'REASON.LABEL.REASON_NAME' | translate}}*
                            </label>
                        </div>
                        <!-- reason_name -->
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last"
                                placeholder="{{'REASON.PLACEHOLDERS.REASON_NAME' | translate}}" type="text"
                                formControlName="reason_name"
                                [ngClass]="{ 'is-invalid': submitted && addEditReasonForm.controls.reason_name.errors }">
                            <div *ngIf="submitted && addEditReasonForm.controls.reason_name.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_name.errors?.required">
                                    {{'REASON.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditReasonForm.controls.reason_name.errors?.minlength && !addEditReasonForm.controls.reason_name.errors?.pattern"
                                    class="lbl-err">
                                    {{'REASON.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditReasonForm.controls.reason_name.errors?.maxlength && !addEditReasonForm.controls.reason_name.errors?.pattern"
                                    class="lbl-err">
                                    {{'REASON.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_name.errors?.pattern">
                                    {{'REASON.VALIDATION.INVALID_TITLE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- reason_role & reason_feePayby -->
                <div class="form-group  row" *ngIf="!forRefundHide">

                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'REASON.LABEL.REASON_ROLE' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="roles" formControlName="reason_role"
                                [ngClass]="{ 'is-invalid': submitted && addEditReasonForm.controls.reason_role.errors }">
                                <option value=""> {{'REASON.LABEL.SELECT_ROLE' | translate }}</option>
                                <option value="{{role._id}}" *ngFor="let role of roleLists">
                                    {{role.role_name}} </option>
                            </select>
                            <div *ngIf="submitted && addEditReasonForm.controls.reason_role.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_role.errors?.required">
                                    {{'REASON.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'REASON.LABEL.REASON_FEEPAYBY' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="roles" formControlName="reason_feePayBy"
                                [ngClass]="{ 'is-invalid': submitted && addEditReasonForm.controls.reason_feePayBy.errors }">
                                <option value=""> {{'REASON.LABEL.SELECT_ROLE' | translate }}</option>
                                <option value="{{role._id}}" *ngFor="let role of roleLists">
                                    {{role.role_name}}</option>
                            </select>
                            <div *ngIf="submitted && addEditReasonForm.controls.reason_feePayBy.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_feePayBy.errors?.required">
                                    {{'REASON.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- reason fee & reason Time -->
                <div class="form-group  row">
                    <div class="col-lg-6" *ngIf="!forRefundHide">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'REASON.LABEL.REASON_FEE' | translate}}*
                            </label>
                        </div>
                        <!-- reason_fee -->
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last"
                                placeholder="{{'REASON.PLACEHOLDERS.REASON_FEE' | translate}}" type="number"
                                formControlName="reason_fee"
                                [ngClass]="{ 'is-invalid': submitted && addEditReasonForm.controls.reason_fee.errors }">
                            <div *ngIf="submitted && addEditReasonForm.controls.reason_fee.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_fee.errors?.required">
                                    {{'REASON.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditReasonForm.controls.reason_fee.errors?.minlength && !addEditReasonForm.controls.reason_fee.errors?.pattern"
                                    class="lbl-err">
                                    {{'REASON.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditReasonForm.controls.reason_fee.errors?.maxlength && !addEditReasonForm.controls.reason_fee.errors?.pattern"
                                    class="lbl-err">
                                    {{'REASON.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_fee.errors?.pattern">
                                    {{'REASON.VALIDATION.INVALID_REASON_FEE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6" *ngIf="!forRefundHide">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'REASON.LABEL.REASON_TIME' | translate}}*
                            </label>
                        </div>
                        <!-- reason_time -->
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" formControlName="reason_time"
                                type="time" atp-time-picker value="8:55" onlyHour="true" onlyAM='true'
                                [ngClass]="{ 'is-invalid': submitted && addEditReasonForm.controls.reason_time.errors }">
                            <div *ngIf="submitted && addEditReasonForm.controls.reason_time.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_time.errors?.required">
                                    {{'REASON.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- reason_type & status -->
                <div class="form-group row">

                    <div class="col-lg-6" *ngIf="!isNameSelected">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'REASON.LABEL.REASON_TYPE_CODE' | translate}}*
                            </label>
                        </div>
                        <!-- REASON_TYPECODE -->
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last"
                                placeholder="{{'REASON.PLACEHOLDERS.REASON_TYPECODE' | translate}}" type="text"
                                formControlName="reason_typeCode"
                                [ngClass]="{ 'is-invalid': submitted && addEditReasonForm.controls.reason_typeCode.errors }">
                            <div *ngIf="submitted && addEditReasonForm.controls.reason_typeCode.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_typeCode.errors?.required">
                                    {{'REASON.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditReasonForm.controls.reason_typeCode.errors?.minlength && !addEditReasonForm.controls.reason_typeCode.errors?.pattern"
                                    class="lbl-err">
                                    {{'REASON.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditReasonForm.controls.reason_typeCode.errors?.maxlength && !addEditReasonForm.controls.reason_typeCode.errors?.pattern"
                                    class="lbl-err">
                                    {{'REASON.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_typeCode.errors?.pattern">
                                    {{'REASON.VALIDATION.INVALID_TITLE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- reason_status -->
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'REASON.LABEL.STATUS' | translate}}*
                            </label>
                        </div>

                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="reason_status"
                                [ngClass]="{ 'is-invalid': submitted && addEditReasonForm.controls.reason_status.errors }">
                                <option value="{{'BRAND.PLACEHOLDERS.ACTIVE' | translate}}">
                                    {{'REASON.LABEL.ACTIVE' | translate }}</option>
                                <option value="{{'BRAND.PLACEHOLDERS.INACTIVE' | translate}}">
                                    {{'REASON.LABEL.INACTIVE' | translate }}</option>
                            </select>
                            <div *ngIf="submitted && addEditReasonForm.controls.reason_status.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditReasonForm.controls.reason_status.errors?.required">
                                    {{'REASON.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group  row">
                    <div class="col-xl-12">
                        <div class="col-xl-12">
                            <button type="button" routerLink="/reason/list"
                                class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate }}</button>
                            <button type="submit" (click)="onSubmit()" 
                                class="btn btn-brand btn-elevate btn-icon-sm bt-right">
                                {{'BUTTONS.SUBMIT' | translate }}
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>