<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__copyright">
			{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="https://www.webcluesinfotech.com/" target="_blank" class="kt-link">WebClues Infotech</a>
		</div>

	</div>
</div>


<div class="modal fade" id="m_modal_6" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{'POPMESSAGE.DELETE' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>

            <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{'BUTTONS.CANCEL' | translate }}</button>
                <button type="button" class="btn btn-primary" (click)="deleteSure()"
                    data-dismiss="modal">{{'BUTTONS.DELETE' | translate }}</button> </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="m_modal_7" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{'POPMESSAGE.STATUSUPDATE' | translate }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                    aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                data-dismiss="modal">{{'BUTTONS.CANCEL' | translate }}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="updateStatus()">{{'BUTTONS.UPDATE' | translate }}</button>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="m_modal_8" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{'POPMESSAGE.READMORE' | translate }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                    aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          
            <span>{{content}}</span>
          </div>
        
        <div class="modal-footer">
          
            <button type="button" class="btn btn-primary" data-dismiss="modal"
               >{{'BUTTONS.OK' | translate }}</button>
        </div>
    </div>
</div>
</div>
<!-- end:: Footer -->
