<!--begin::Body-->
<div class="kt-login__body">

	<!--begin::Signin-->
	<div class="kt-login__form">
		<a href="javascript:;" class="kt-login__logo pull-center">
			<!-- <img src="./assets/media/logos/logo-4.png" width="150" height="80"> -->
			<img [attr.src]="logo" width="150" height="80">
		</a>
		<div class="kt-login__title">
			<h3>{{'AUTH.LABEL.FORGOT_PASSWORD' | translate}}</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-form" (ngSubmit)="forgotPass()" [formGroup]="forgotPasswordForm">
			<div class="form-group m-form__group">
				<input class="form-control m-input" type="text" formControlName="user_email" placeholder="{{ 'AUTH.LABEL.EMAIL' | translate}}"
				 [ngClass]="{ 'is-invalid': submitted1 && forgotPasswordForm.controls.user_email.errors }" autocomplete="off">
			</div>
			<div *ngIf="submitted1 &&  forgotPasswordForm.controls.user_email.errors" class="form-control-feedback" style="color: red">
				<p *ngIf="submitted1 &&  forgotPasswordForm.controls.user_email.errors?.required">
					{{'AUTH.VALIDATION.EMAIL_REQUIRED' | translate}}
				</p>
				<p *ngIf="submitted1 &&  forgotPasswordForm.controls.user_email.errors?.email">
					{{'AUTH.VALIDATION.EMAIL_INVALID' | translate}}
				</p>
				<p *ngIf="submitted1 &&  forgotPasswordForm.controls.user_email.errors?.pattern">
					{{'AUTH.VALIDATION.EMAIL_INVALID' | translate}}
				</p>
			</div>

			<!--begin::Action-->
			<div class="kt-login__actions">
				<button routerLink="/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'BUTTONS.CANCEL' | translate }}</button>
				<button id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'BUTTONS.SUBMIT' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>