.scrlbl_table {overflow-x: auto;}

 .kt-page-loader:before{
    content: "" !important;
   position: fixed !important;
   width: 100% !important;
   height: 100% !important;
   top: 0 !important;
   left: 0 !important;
   right: 0 !important;
   bottom: 0 !important;
   background-color: rgba(0,0,0,0.3) !important;
   z-index: 9999 !important;
 }
 .kt-page-loader .kt-blockui {z-index: 99999;position: relative;}
 @media screen and (max-width: 1300px) {.dataTables_wrapper {overflow-x: auto;}}
 .kt-portlet__body>.kt-section {margin-bottom: 0 !important;}