<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" *ngIf="isAdd">{{'STATE.ADD' | translate }} </h3>
            <h3 class="kt-portlet__head-title" *ngIf="!isAdd">{{'STATE.EDIT' | translate }}</h3>

        </div>
        <div class="btn kt-portlet__head-label">
            <a href="javascript:;" routerLink="/state/list" class="btn btn-brand btn-elevate btn-icon-sm"><i
                    class="la la-left-arrow"></i>{{'BUTTONS.BACK' | translate }}</a>
        </div>
    </div>
    <div class="kt-portlet__body">

        <form class="kt-form kt-form__group" name="addEditStateForm" [formGroup]="addEditStateForm">
            <div class="kt-portlet__body">
                <div class="form-group  row">
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label">
                                {{'STATE.LABEL.STATE_NAME' | translate }}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" placeholder="{{'STATE.PLACEHOLDERS.STATE_NAME' | translate}}" type="text" formControlName="state_name" [ngClass]="{ 'is-invalid': submitted && addEditStateForm.controls.state_name.errors }">
                            <div *ngIf="submitted && addEditStateForm.controls.state_name.errors" class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditStateForm.controls.state_name.errors?.required">
                                    {{'STATE.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditStateForm.controls.state_name.errors?.minlength && !addEditStateForm.controls.state_name.errors?.pattern" class="lbl-err">
                                    {{'STATE.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditStateForm.controls.state_name.errors?.maxlength && !addEditStateForm.controls.state_name.errors?.pattern" class="lbl-err">
                                    {{'STATE.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditStateForm.controls.state_name.errors?.pattern">
                                    {{'STATE.VALIDATION.INVALID_NAME' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label">
                                {{'STATE.LABEL.STATUS' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="state_status" [ngClass]="{'is-invalid': submitted && addEditStateForm.controls.state_status.errors}">
                                <option value="{{'STATE.PLACEHOLDERS.ACTIVE' | translate}}">
                                    {{'STATE.LABEL.ACTIVE' | translate}}</option>
                                <option value="{{'STATE.PLACEHOLDERS.INACTIVE' | translate}}">
                                    {{'STATE.LABEL.INACTIVE' | translate}}</option>
                            </select>
                            <div *ngIf="submitted && addEditStateForm.controls.state_status.errors" class="form-control-feedback" style="color:red">
                                <p *ngIf="submitted && addEditStateForm.controls.state_status.errors?.required">
                                    {{'STATE.VALIDTION.FIELD_REQUIRED' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Select Country-->
                    <!-- <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label">
                                {{'STATE.LABEL.COUNTRY_NAME' | translate }}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="country" formControlName="state_countryId" [ngClass]="{ 'is-invalid': submitted && addEditStateForm.controls.state_countryId.errors }">
                                <option value=""> {{'STATE.PLACEHOLDERS.SELECT_COUNTRY' | translate }}</option>
                                <option value="{{country._id}}" *ngFor="let country of countries">
                                    {{country.country_name}}</option>
                            </select>
                            <div *ngIf="submitted && addEditStateForm.controls.state_countryId.errors" class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditStateForm.controls.state_countryId.errors?.required">
                                    {{'STATE.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="form-group row">
                    <div class="col-xl-12">
                        <div class="col-xl-12">
                            <button type="button" routerLink="/state/list" class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate}}</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-brand btn-elevate btn-icon-sm bt-right">{{'BUTTONS.SUBMIT' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>