<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{'RIDE_REQUEST.VIEW' | translate }} </h3>
        </div>
        <div class="btn kt-portlet__head-label">
            <a href="javascript:;" routerLink="/ride-request/list" class="btn btn-brand btn-elevate btn-icon-sm"><i
                    class="la la-left-arrow"></i>{{'BUTTONS.BACK' | translate }}</a>
        </div>
    </div>
    <div class="kt-portlet__body">

        <form class="kt-form kt-form__group" name="viewRideRequestForm" [formGroup]="viewRideRequestForm">
            <div class="kt-portlet__body">
                <div class="form-group  row">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.RIDER_ID' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_ride_id }}
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.USER_NAME' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_user_name }}
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.DRIVER_NAME' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_driver_name }}
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.OPERATOR_NAME' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_operator_name }}
                            </label>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven">
                                {{'RIDE_REQUEST.LABEL.COUNTRY_NAME' | translate }}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" [(ngModel)]="country"
                                type="text" formControlName="rideRequest_country_name" disabled>
                        </div>
                    </div> -->
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.CITY_NAME' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_city_name }}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.PICKUP_LOCATION' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_pickup_location }}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.DROPOFF_LOCATION' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_dropoff_location }}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.SERVICE_TYPE' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_service_type }}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.RIDE_CREATED_ON' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_createdOn}}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.RIDE_COMPLETED_DATE' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label" >
                                {{ rideRequest_ride_complete_date}}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.PICKUP_WAITING_TIME' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_ride_pickup_waiting_time }}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.RIDE_DISTANCE' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_ride_distance }}
                            </label>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.PAYMENT_METHOD' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_payment_method }}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.PAYMENT_STATUS' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_payment_status }}
                            </label>
                        </div>

                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven">
                                {{'RIDE_REQUEST.LABEL.RIDE_TIP' | translate }}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" type="text"
                                formControlName="rideRequest_tip" disabled>
                        </div>
                    </div> -->
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.TOTALE_FARE_COIN' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label fw-seven">
                                {{ rideRequest_approx_fare_coin }}
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.RIDE_STATUS' | translate }} :
                            </label>
                            <label for="example-text-input" class="col-form-label">
                                {{ rideRequest_ride_status }}
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <!-- <select class="form-control m-input" id="specific" formControlName="rideRequest_ride_status"
                                disabled>
                                <option value="{{'RIDE_REQUEST.LABEL.INPROGRESS' | translate}}">
                                    {{'RIDE_REQUEST.PLACEHOLDERS.INPROGRESS' | translate}}</option>
                                <option value="{{'RIDE_REQUEST.LABEL.ONTHEWAY' | translate}}">
                                    {{'RIDE_REQUEST.PLACEHOLDERS.ONTHEWAY' | translate}}</option>
                                <option value="{{'RIDE_REQUEST.LABEL.PICKUP_POINT' | translate}}">
                                    {{'RIDE_REQUEST.PLACEHOLDERS.PICKUP_POINT' | translate}}</option>
                                <option value="{{'RIDE_REQUEST.LABEL.ONRIDE' | translate}}">
                                    {{'RIDE_REQUEST.PLACEHOLDERS.ONRIDE' | translate}}</option>
                                <option value="{{'RIDE_REQUEST.LABEL.COMPLETED' | translate}}">
                                    {{'RIDE_REQUEST.PLACEHOLDERS.COMPLETED' | translate}}</option>
                                <option value="{{'RIDE_REQUEST.LABEL.CANCELLED' | translate}}">
                                    {{'RIDE_REQUEST.PLACEHOLDERS.CANCELLED' | translate}}</option>
                                <option value="{{'RIDE_REQUEST.LABEL.AUTO_CANCELLED' | translate}}">
                                    {{'RIDE_REQUEST.PLACEHOLDERS.AUTO_CANCELLED' | translate}}</option>
                            </select> -->

                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="!forRefundHide">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label fw-seven mr-2">
                                {{'RIDE_REQUEST.LABEL.RIDE_CANCEL_REASON' | translate }} :
                            </label>
                            <label for="example-text-input"  (change)="selectInput($event)" class="col-form-label">
                                {{ rideRequest_ride_cancel_reason_other }}
                            </label>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="col-lg-12">
                            <label for="example-text-input" class="col-form-label">
                                {{'RIDE_RATING.LABEL.STATUS' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="state_status" [ngClass]="{'is-invalid': submitted && addEditRideRequestForm.controls.state_status.errors}">
                                <option value="{{'STATE.PLACEHOLDERS.ACTIVE' | translate}}">
                                    {{'STATE.LABEL.ACTIVE' | translate}}</option>
                                <option value="{{'STATE.PLACEHOLDERS.INACTIVE' | translate}}">
                                    {{'STATE.LABEL.INACTIVE' | translate}}</option>
                            </select>

                        </div>
                    </div> -->
                </div>
                <!-- <div class="form-group row">
                    <div class="col-xl-12">
                        <div class="col-xl-12">
                            <button type="button" routerLink="/state/list" class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate}}</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-brand btn-elevate btn-icon-sm bt-right">{{'BUTTONS.SUBMIT' | translate}}</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </form>
    </div>
</div>