<!--begin::Body-->
<div class="kt-login__body">

	<!--begin::Signin-->
	<div class="kt-login__form">
		<a href="javascript:;" class="kt-login__logo pull-center">
			<!-- <img src="./assets/media/logos/logo-4.png" width="150" height="80"> -->
			<img [attr.src]="logo" width="150" height="80">
		</a>

		<div class="kt-login__title">
			<h3>{{'AUTH.LABEL.RESET_PASSWORD' | translate}}</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-login__form kt-form" (ngSubmit)="ResetPassword()" [formGroup]="resetPassForm" autocomplete="off">

			<div class="form-group m-form__group">
				<input class="form-control m-input m-login__form-input--last " formControlName="user_password" type="password" placeholder="{{'AUTH.LABEL.PASSWORD' | translate}}"
				 [ngClass]="{ 'is-invalid': submitted && resetPassForm.controls.user_password.errors }">
				<div *ngIf="submitted && resetPassForm.controls.user_password.errors" class="form-control-feedback" style="color: red">
					<p *ngIf="submitted && resetPassForm.controls.user_password.errors?.required">
						{{'AUTH.VALIDATION.PASSWORD_REQUIRED' | translate }}
					</p>
					<p *ngIf="submitted && resetPassForm.controls.user_password.errors?.pattern">
						{{'AUTH.VALIDATION.PASSWORD_INVALID' | translate }}
					</p>
				</div>
			</div>

			<div class="form-group m-form__group">
				<input class="form-control m-input m-login__form-input--last " formControlName="user_confirm_password" type="password" placeholder="{{'AUTH.LABEL.CONFPASSWORD' | translate}}"
				 [ngClass]="{ 'is-invalid': submitted && resetPassForm.controls.user_confirm_password.errors }">
				<div *ngIf="submitted && resetPassForm.controls.user_confirm_password.errors" class="form-control-feedback" style="color: red">
					<p *ngIf="submitted && resetPassForm.controls.user_confirm_password.errors?.required">
						{{'AUTH.VALIDATION.CONFPASSWORD_REQUIRED' | translate }}
					</p>
					<p *ngIf="submitted && resetPassForm.controls.user_confirm_password.errors?.pattern">
						{{'AUTH.VALIDATION.CONFPASSWORD_INVALID' | translate }}
					</p>
				</div>
			</div>

			<!--begin::Action-->
			<div class="kt-login__actions">
				<button id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'AUTH.BUTTONS.RESET_PASSWORD' | translate}}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>