.ht-auto {height: auto !important;}
.tbl_headclr thead th {background-color: #eee !important;}
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-position: right calc(0.375em + 1.325rem) center !important;
}