
// #filePhoto {
//     position: absolute;
//     width: 72px;
//     height: 72px;
//     top: 0;
//     left: 0;
//     z-index: 2;
//     opacity: 0;
//     cursor: pointer;
// }

// .image_bx:hover .close_btn {
//     display: block;
// }

// .image_bx {
//     padding: 0 0 20px 0;
//     width: 20%;
// }


// .uploader {
//     width: 72px;
//     height: 72px;
//     border: 2px dashed rgba(33, 33, 33, .35);
//     line-height: 63px;
//     text-align: center;
//     font-size: 24px;
//     font-weight: 600;
//     color: rgba(33, 33, 33, .35);
//     border-radius: 5px;
//     -webkit-border-radius: 5px;
//     -moz-border-radius: 5px;
//     position: relative;
//     cursor: pointer;
//     float: left;
//     font-family: 'Exo 2', sans-serif;
// }

// .close_btn {
//     display: none;
//     cursor: pointer;
//     position: absolute;
//     left: 0;
//     top: 0;
//     padding: 0;
//     border: none;
// }
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-position: right calc(0.375em + 1.325rem) center !important;
}