<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" *ngIf="isAdd">{{'CITY.ADD' | translate }} </h3>
            <h3 class="kt-portlet__head-title" *ngIf="!isAdd">{{'CITY.EDIT' | translate }}</h3>
        </div>
        <div class="btn kt-portlet__head-label">
            <a href="javascript:;" routerLink="/city/list" class="btn btn-brand btn-elevate btn-icon-sm">
                <i class="la la-left-arrow"></i>{{'BUTTONS.BACK' | translate }}</a>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form class="kt-form kt-form__group" name="addEditCityForm" [formGroup]="addEditCityForm">
            <div class="kt-portlet__body">
                <!-- -----------control name en-->
                <div class="form-group  row">
                    <div class="col-lg-6">
                        <div class="col-lg-3">
                            <label for="example-text-input" class="col-form-label">
                                {{'CITY.LABEL.CITY_NAME_EN' | translate}}*
                            </label>
                        </div>
                        <!-- city_name_en -->
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" placeholder="{{'CITY.PLACEHOLDERS.CITY_NAME' | translate}}" type="text" formControlName="city_name_en" [ngClass]="{ 'is-invalid': submitted && addEditCityForm.controls.city_name_en.errors }">
                            <div *ngIf="submitted && addEditCityForm.controls.city_name_en.errors" class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditCityForm.controls.city_name_en.errors?.required">
                                    {{'CITY.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditCityForm.controls.city_name_en.errors?.minlength && !addEditCityForm.controls.city_name_en.errors?.pattern" class="lbl-err">
                                    {{'CITY.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditCityForm.controls.city_name_en.errors?.maxlength && !addEditCityForm.controls.city_name_en.errors?.pattern" class="lbl-err">
                                    {{'CITY.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditCityForm.controls.city_name_en.errors?.pattern">
                                    {{'CITY.VALIDATION.INVALID_TITLE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'CITY.LABEL.CITY_CODE' | translate}}*
                            </label>
                        </div>
                        <!-- city_code -->
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last" placeholder="{{'CITY.PLACEHOLDERS.CITY_CODE' | translate}}" type="text" formControlName="city_code" [ngClass]="{ 'is-invalid': submitted && addEditCityForm.controls.city_code.errors }">
                            <div *ngIf="submitted && addEditCityForm.controls.city_code.errors" class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditCityForm.controls.city_code.errors?.required">
                                    {{'CITY.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditCityForm.controls.city_code.errors?.minlength && !addEditCityForm.controls.city_code.errors?.pattern" class="lbl-err">
                                    {{'CITY.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditCityForm.controls.city_code.errors?.maxlength && !addEditCityForm.controls.city_code.errors?.pattern" class="lbl-err">
                                    {{'CITY.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditCityForm.controls.city_code.errors?.pattern">
                                    {{'CITY.VALIDATION.INVALID_TITLE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -----------city name ar-->
                <!-- <div class="form-group  row">
                        <div class="col-lg-3">
                            <label for="example-text-input" class="col-form-label">
                                {{'CITY.LABEL.CITY_NAME_AR' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control m-input m-login__form-input--last"
                                placeholder="{{'CITY.PLACEHOLDERS.CITY_NAME' | translate}}" type="text"
                                formControlName="city_name_ar"
                                [ngClass]="{ 'is-invalid': submitted && addEditCityForm.controls.city_name_ar.errors }">
                            <div *ngIf="submitted && addEditCityForm.controls.city_name_ar.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditCityForm.controls.city_name_ar.errors?.required">
                                    {{'CITY.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditCityForm.controls.city_name_ar.errors?.minlength && !addEditCityForm.controls.city_name_ar.errors?.pattern"
                                    class="lbl-err">
                                    {{'CITY.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditCityForm.controls.city_name_ar.errors?.maxlength && !addEditCityForm.controls.city_name_ar.errors?.pattern"
                                    class="lbl-err">
                                    {{'CITY.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditCityForm.controls.city_name_ar.errors?.pattern">
                                    {{'CITY.VALIDATION.INVALID_TITLE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div> -->
                <!-- -----------city_countryId -->
                <div class="form-group  row">
                    <!-- <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'CITY.LABEL.CITY_COUNTRY_NAME' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="country" formControlName="city_countryId"
                                [ngClass]="{ 'is-invalid': submitted && addEditCityForm.controls.city_countryId.errors }">
                                <option value=""> {{'CITY.PLACEHOLDERS.SELECT_COUNTRY' | translate }}</option>
                                <option value="{{country._id}}" *ngFor="let country of countries">
                                    {{country.country_name}}</option>
                            </select>
                            <div *ngIf="submitted && addEditCityForm.controls.city_countryId.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditCityForm.controls.city_countryId.errors?.required">
                                    {{'CITY.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'CITY.LABEL.CITY_TIMEZONE' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="timezone" formControlName="city_timezoneId" [ngClass]="{ 'is-invalid': submitted && addEditCityForm.controls.city_timezoneId.errors }">
                                <option value=""> {{'CITY.PLACEHOLDERS.SELECT_TIMEZONE' | translate }}</option>
                                <option value="{{timezone._id}}" *ngFor="let timezone of timezones">
                                    {{timezone.timezone_label}}</option>
                            </select>
                            <div *ngIf="submitted && addEditCityForm.controls.city_timezoneId.errors" class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditCityForm.controls.city_timezoneId.errors?.required">
                                    {{'CITY.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'CITY.LABEL.CITY_STATUS' | translate}}*
                            </label>
                        </div>
                        <!-- city_status -->
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="city_status" [ngClass]="{ 'is-invalid': submitted && addEditCityForm.controls.city_status.errors }">
                                <option value="{{'CITY.PLACEHOLDERS.ACTIVE' | translate}}">{{'COUNTRY.LABEL.ACTIVE' | translate }}</option>
                                <option value="{{'CITY.PLACEHOLDERS.INACTIVE' | translate}}">{{'COUNTRY.LABEL.INACTIVE' | translate }}</option>
                            </select>
                            <div *ngIf="submitted && addEditCityForm.controls.city_status.errors" class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditCityForm.controls.city_status.errors?.required">
                                    {{'CITY.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group  row">
                    <div class="col-xl-12">
                        <div class="col-xl-12">
                            <button type="button" routerLink="/city/list" class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate }}</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-brand btn-elevate btn-icon-sm bt-right"> {{'BUTTONS.SUBMIT' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>