<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {{'ADMIN.LABEL.UPDATE_PROFILE' | translate }}
            </h3>

        </div>
    </div>
    <div class="kt-portlet__body">
        <form class="kt-form kt-form__group" name="editProfileForm" [formGroup]="editProfileForm">
            <div class="kt-portlet__body">

                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">

                        </label>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="m-form__section">
                            {{'ADMIN.LABEL.PERSONAL_DETAILS' | translate }}
                        </h3>
                    </div>
                </div>

                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'ADMIN.LABEL.PROFILE_PHOTO' | translate }}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <div class="kt-avatar" id="kt_user_avatar_2">
                            <div class="kt-avatar__holder" [style.background-image]="'url('+url+')'">
                            </div>
                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title=""
                                *ngIf="url && url=='../../../../../assets/media/newMedia/add.png'"
                                data-original-title="Change avatar">
                                <i class="fa fa-pen"></i>
                                <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"
                                    (change)="onSelectFile($event)">
                            </label>
                            <span class="kt-avatar__cancel"
                                *ngIf="url && url!='../../../../../assets/media/newMedia/add.png'" style="display:flex;"
                                data-toggle="kt-tooltip" title="" (click)="imageRemove()"
                                data-original-title="Remove Image">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                        <span class="form-text text-muted">
                            {{'ADMIN.NOTES.IMAGE' | translate }}</span>
                    </div>
                </div>

                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'ADMIN.LABEL.FIRSTNAME' | translate }}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control m-input m-login__form-input--last"
                            placeholder="{{'ADMIN.PLACEHOLDERS.FIRSTNAME' | translate}}" type="text"
                            formControlName="user_firstName"
                            [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.user_firstName.errors }">
                        <div *ngIf="submitted && editProfileForm.controls.user_firstName.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && editProfileForm.controls.user_firstName.errors?.required">
                                {{'ADMIN.VALIDATION.FIRSTNAME_REQUIRED'  | translate }}</p>
                            <p *ngIf="editProfileForm.controls.user_firstName.errors?.minlength && !editProfileForm.controls.user_firstName.errors?.pattern"
                                class="lbl-err"> {{'ADMIN.VALIDATION.MIN_CHARACTER'  | translate }}</p>
                            <p *ngIf="editProfileForm.controls.user_firstName.errors?.maxlength && !editProfileForm.controls.user_firstName.errors?.pattern"
                                class="lbl-err">{{'ADMIN.VALIDATION.MAX_CHARACTER'  | translate }}</p>
                            <p *ngIf="submitted && editProfileForm.controls.user_firstName.errors?.pattern">
                                {{'ADMIN.VALIDATION.FIRSTNAME_INVALID'  | translate }} </p>
                        </div>
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'ADMIN.LABEL.LASTNAME' | translate }}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control m-input m-login__form-input--last"
                            placeholder="{{'ADMIN.PLACEHOLDERS.LASTNAME' | translate}}" type="text"
                            formControlName="user_lastName"
                            [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.user_lastName.errors }">
                        <div *ngIf="submitted && editProfileForm.controls.user_lastName.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && editProfileForm.controls.user_lastName.errors?.required">
                                {{'ADMIN.VALIDATION.LASTNAME_REQUIRED'  | translate }}</p>
                            <p *ngIf="editProfileForm.controls.user_lastName.errors?.minlength && !editProfileForm.controls.user_lastName.errors?.pattern"
                                class="lbl-err"> {{'ADMIN.VALIDATION.MIN_CHARACTER'  | translate }}</p>
                            <p *ngIf="editProfileForm.controls.user_lastName.errors?.maxlength && !editProfileForm.controls.user_lastName.errors?.pattern"
                                class="lbl-err">{{'ADMIN.VALIDATION.MAX_CHARACTER'  | translate }}</p>
                            <p *ngIf="submitted && editProfileForm.controls.user_lastName.errors?.pattern">
                                {{'ADMIN.VALIDATION.LASTNAME_INVALID'  | translate }} </p>
                        </div>
                    </div>
                </div>


                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'ADMIN.LABEL.PHONE_NUMBER' | translate}}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control m-input m-login__form-input--last"
                            placeholder="{{'ADMIN.PLACEHOLDERS.PHONE_NUMBER' | translate}}*" type="text"
                            formControlName="user_phoneNumber"
                            [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.user_phoneNumber.errors }">
                        <div *ngIf="submitted && editProfileForm.controls.user_phoneNumber.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && editProfileForm.controls.user_phoneNumber.errors?.required">
                                {{'ADMIN.VALIDATION.PHONE_NUMBER' | translate}}
                            </p>
                            <p *ngIf="submitted && editProfileForm.controls.user_phoneNumber.errors?.pattern">
                                {{'ADMIN.VALIDATION.INVALID_PHONE_NUMBER' | translate}}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'ADMIN.LABEL.ROLE'  | translate }}*
                        </label>
                    </div>
                    <div class="col-lg-6">


                        <select class="form-control m-input" id="country" formControlName="user_roleId"
                            [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.user_roleId.errors }"
                            disabled>
                            <option value="">{{'ADMIN.PLACEHOLDERS.ROLE'  | translate }}</option>

                            <option value="{{roleDetail._id}}" *ngFor="let roleDetail of roles">{{roleDetail.role_name}}
                            </option>
                        </select>

                        <div *ngIf="submitted && editProfileForm.controls.user_roleId.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && editProfileForm.controls.user_roleId.errors?.required">
                                {{'ADMIN.VALIDATION.ROLE_REQUIRED' | translate}}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- -----------control -->
                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'ADMIN.LABEL.ADMIN_EMAIL'  | translate }}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control m-input m-login__form-input--last" placeholder="Enter Email" readonly
                            autocomplete="off" formControlName="user_email" type="text"
                            [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.user_email.errors }">
                        <div *ngIf="submitted && editProfileForm.controls.user_email.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && editProfileForm.controls.user_email.errors?.required">
                                {{'ADMIN.VALIDATION.EMAIL_REQUIRED' | translate}}
                            </p>
                            <p *ngIf="submitted && editProfileForm.controls.user_email.errors?.pattern">
                                {{'ADMIN.VALIDATION.EMAIL_INVALID' | translate}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">

                        </label>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="m-form__section">
                            {{'ADMIN.LABEL.SECURITY_DETAILS' | translate }}
                        </h3>
                    </div>
                </div>

                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'ADMIN.LABEL.PASSWORD' | translate }}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control m-input m-login__form-input--last" type="password"
                            placeholder="Enter Password" formControlName="user_password"
                            (keyup)="onkeyUp($event.target.value)" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.user_password.errors }">
                        <div *ngIf="submitted && editProfileForm.controls.user_password.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && editProfileForm.controls.user_password.errors?.required">
                                {{'ADMIN.VALIDATION.FIELD_REQUIRED' | translate}}
                            </p>
                            <p *ngIf="submitted && editProfileForm.controls.user_password.errors?.pattern">
                                {{'ADMIN.VALIDATION.PASSWORD_INVALID' | translate}}
                            </p>
                        </div>
                    </div>
                </div>


                <div class="form-group  row">
                    <div class="col-lg-3">
                        <label for="example-text-input" class="col-form-label">
                            {{'ADMIN.LABEL.CONFIRM_PASSWORD' | translate }}*
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control m-input m-login__form-input--last" type="password"
                            placeholder="Enter Confirm Password" formControlName="user_confirm_password"
                            (keyup)="onkeyUp($event.target.value)" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.user_confirm_password.errors }">
                        <div *ngIf="submitted && editProfileForm.controls.user_confirm_password.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && editProfileForm.controls.user_confirm_password.errors?.required">
                                {{'ADMIN.VALIDATION.FIELD_REQUIRED' | translate}}
                            </p>
                            <p *ngIf="submitted && editProfileForm.controls.user_confirm_password.errors?.pattern">
                                {{'ADMIN.VALIDATION.PASSWORD_INVALID' | translate}}
                            </p>
                        </div>
                    </div>
                </div>


                <div class="form-group  row" *ngIf="!isAdd">
                    <div class="col-xl-3">
                        <button type="button" routerLink="/dashboard"
                            class="btn btn-secondary btn-elevate btn-icon-sm">{{'BUTTONS.CANCEL' | translate }}</button>
                    </div>
                    <div class="col-xl-9">
                        <button type="submit" (click)="onSubmit()"
                            class="btn btn-brand btn-elevate btn-icon-sm bt-right"> {{'BUTTONS.SUBMIT' | translate }}
                        </button>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>