<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" *ngIf="isAdd">{{'TEMPLATE.ADD' | translate }} </h3>
            <h3 class="kt-portlet__head-title" *ngIf="!isAdd">{{'TEMPLATE.EDIT' | translate }}</h3>
        </div>
        <div class="btn kt-portlet__head-label">
            <a href="javascript:;" routerLink="/template/list" class="btn btn-brand btn-elevate btn-icon-sm"><i
               class="la la-left-arrow"></i>{{'BUTTONS.BACK' | translate }}</a>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form class="kt-form kt-form__group" name="addEditTemplateForm" [formGroup]="addEditTemplateForm">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                Type
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="type" formControlName="template_type"
                                [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_type.errors }"
                                >
                                <option *ngFor="let option of options">
                                    {{option.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && addEditTemplateForm.controls.template_type.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditTemplateForm.controls.template_type.errors?.required">
                                    {{'TEMPLATE.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label" >
                                <!-- {{ selectedOption != '' ?  selectedOption : 'TEMPLATE.LABEL.template_title' }} -->
                                {{'TEMPLATE.LABEL.TEMPLATE_TITLE' | translate}}*
                            </label>
                        </div>
                        <!-- template_title -->
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last"
                                placeholder="{{'TEMPLATE.PLACEHOLDERS.TEMPLATE_TITLE' | translate}}" type="text"
                                formControlName="template_title_en"
                                [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_title_en.errors }">
                            <div *ngIf="submitted && addEditTemplateForm.controls.template_title_en.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditTemplateForm.controls.template_title_en.errors?.required">
                                    {{'TEMPLATE.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditTemplateForm.controls.template_title_en.errors?.minlength && !addEditTemplateForm.controls.template_title_en.errors?.pattern"
                                    class="lbl-err">
                                    {{'TEMPLATE.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditTemplateForm.controls.template_title_en.errors?.maxlength && !addEditTemplateForm.controls.template_title_en.errors?.pattern"
                                    class="lbl-err">
                                    {{'TEMPLATE.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditTemplateForm.controls.template_title_en.errors?.pattern">
                                    {{'TEMPLATE.VALIDATION.INVALID_TITLE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -----------template_countryId -->
                <div class="form-group  row">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'TEMPLATE.LABEL.TEMPLATE_COUNTRY_NAME' | translate}}*
                            </label>
                        </div>
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="country"
                                (change)="changeCountry($event.target.value)"
                                formControlName="template_countryId"
                                [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_countryId.errors }">
                                <option value="">{{'TEMPLATE.PLACEHOLDERS.SELECT_COUNTRY' | translate}}</option>
                                <option value="{{country._id}}" *ngFor="let country of countries">
                                    {{country.country_name}}</option>
                            </select>
                            <div *ngIf="submitted && addEditTemplateForm.controls.template_countryId.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditTemplateForm.controls.template_countryId.errors?.required">
                                    {{'TEMPLATE.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'TEMPLATE.LABEL.TEMPLATE_CITY_NAME' | translate}}*
                            </label>
                        </div>
                        <!--  -->
                        <div class="col-lg-12 multiselect_drpdwn">
                            <angular2-multiselect [data]="countryCities" [(ngModel)]="selectedItemsCity" 
                                [settings]="dropdownSettingsCity"
                                (onSelect)="onItemCitySelect($event)"
                                (onDeSelect)="onItemCityDeSelect($event)"
                                (onSelectAll)="onCitySelectAll($event)"
                                (onDeSelectAll)="onCityDeSelectAll($event)"
                                formControlName="template_cityId">
                            </angular2-multiselect>
                            <div *ngIf="submitted && addEditTemplateForm.controls.template_cityId.errors"
                                class="form-control-feedback" style="color: red">
                                <p
                                    *ngIf="submitted && addEditTemplateForm.controls.template_cityId.errors?.required">
                                    {{'TEMPLATE.VALIDATION.FIELD_REQUIRED' |translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- {{ order_type != '' ? 'TEMPLATE.LABEL.template_title'.replace('Template',order_type) : 'TEMPLATE.LABEL.template_title' | translate}}* -->
                <!-- ---------- template slug -->
                <div class="form-group  row">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'TEMPLATE.LABEL.TEMPLATE_SLUG' | translate}}*
                            </label>
                        </div>
                    <!-- template slug -->
                        <div class="col-lg-12">
                            <input class="form-control m-input m-login__form-input--last"
                                placeholder="{{'TEMPLATE.PLACEHOLDERS.TEMPLATE_SLUG' | translate}}" type="text"
                                formControlName="template_slug"
                                [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_slug.errors }">
                            <div *ngIf="submitted && addEditTemplateForm.controls.template_slug.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditTemplateForm.controls.template_slug.errors?.required">
                                    {{'TEMPLATE.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                                <p *ngIf="addEditTemplateForm.controls.template_slug.errors?.minlength && !addEditTemplateForm.controls.template_slug.errors?.pattern"
                                    class="lbl-err">
                                    {{'TEMPLATE.VALIDATION.MIN_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="addEditTemplateForm.controls.template_slug.errors?.maxlength && !addEditTemplateForm.controls.template_slug.errors?.pattern"
                                    class="lbl-err">
                                    {{'TEMPLATE.VALIDATION.MAX_CHARACTER' | translate }}
                                </p>
                                <p *ngIf="submitted && addEditTemplateForm.controls.template_slug.errors?.pattern">
                                    {{'TEMPLATE.VALIDATION.INVALID_TITLE' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="col-lg-6">
                        <label for="example-text-input" class="col-form-label">
                            {{'TEMPLATE.LABEL.TEMPLATE_CODE' | translate}}*
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <input class="form-control m-input m-login__form-input--last"
                            placeholder="{{'TEMPLATE.PLACEHOLDERS.TEMPLATE_CODE' | translate}}" type="text"
                            formControlName="template_code"
                            [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_code.errors }">
                        <div *ngIf="submitted && addEditTemplateForm.controls.template_code.errors"
                            class="form-control-feedback" style="color: red">
                            <p *ngIf="submitted && addEditTemplateForm.controls.template_code.errors?.required">
                                {{'TEMPLATE.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                            <p *ngIf="addEditTemplateForm.controls.template_code.errors?.minlength && !addEditTemplateForm.controls.template_code.errors?.pattern"
                                class="lbl-err">
                                {{'TEMPLATE.VALIDATION.MIN_CHARACTER' | translate }}
                            </p>
                            <p *ngIf="addEditTemplateForm.controls.template_code.errors?.maxlength && !addEditTemplateForm.controls.template_code.errors?.pattern"
                                class="lbl-err">
                                {{'TEMPLATE.VALIDATION.MAX_CHARACTER' | translate }}
                            </p>
                            <p *ngIf="submitted && addEditTemplateForm.controls.template_code.errors?.pattern">
                                {{'TEMPLATE.VALIDATION.INVALID_TITLE' | translate }}
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- -----------template Specific -->
                <div class="form-group  row">
                    <div class="col-lg-6">
                    <div class="col-lg-6">
                        <label for="example-text-input" class="col-form-label">
                            {{'TEMPLATE.LABEL.TEMPLATE_COUNTRY_SPECIFIC' | translate}}*
                        </label>
                    </div>
                    <!-- template_isCountrySpecific -->
                    <div class="col-lg-12">
                        <select class="form-control m-input" id="specific" formControlName="template_isCountrySpecific"
                            [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_isCountrySpecific.errors }">
                            <option value=""> {{'TEMPLATE.LABEL.TEMPLATE_COUNTRY_SPECIFIC' | translate}}</option>
                            <option value="{{'TEMPLATE.PLACEHOLDERS.YES' | translate}}">{{'TEMPLATE.LABEL.YES' | translate}}</option>
                            <option value="{{'TEMPLATE.PLACEHOLDERS.NO' | translate}}">{{'TEMPLATE.LABEL.NO' | translate}}</option>
                        </select>
                        <div *ngIf="submitted && addEditTemplateForm.controls.template_isCountrySpecific.errors"
                            class="form-control-feedback" style="color: red">
                            <p
                                *ngIf="submitted && addEditTemplateForm.controls.template_isCountrySpecific.errors?.required">
                                {{'TEMPLATE.VALIDATION.FIELD_REQUIRED' | translate }}
                            </p>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-form-label">
                                {{'TEMPLATE.LABEL.TEMPLATE_STATUS' | translate}}*
                            </label>
                        </div>
                        <!-- template_status -->
                        <div class="col-lg-12">
                            <select class="form-control m-input" id="specific" formControlName="template_status"
                                [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_status.errors }">
                                <option value="{{'TEMPLATE.PLACEHOLDERS.ACTIVE' | translate}}">{{'TEMPLATE.LABEL.ACTIVE' | translate }}</option>
                                <option value="{{'TEMPLATE.PLACEHOLDERS.INACTIVE' | translate}}">{{'TEMPLATE.LABEL.INACTIVE' | translate }}</option>
                            </select>
                            <div *ngIf="submitted && addEditTemplateForm.controls.template_status.errors"
                                class="form-control-feedback" style="color: red">
                                <p *ngIf="submitted && addEditTemplateForm.controls.template_status.errors?.required">
                                    {{'TEMPLATE.VALIDATION.FIELD_REQUIRED' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!----- CK Editor en --->
                <div class="form-group row">
                    <div class="col-md-12 col-lg-12">
                        <label class="col-form-label" >
                            {{'TEMPLATE.LABEL.TEMPLATE_CONTENT' | translate}}*
                        </label>
                    </div>
                    <div class="col-md-12 col-lg-12" *ngIf="Editor">
                        <ckeditor #editor [editor]="Editor" class="form-control ht-auto" type="text"
                            placeholder="Enter Contant" formControlName="template_content_en"
                            [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_content_en.errors }">
                        </ckeditor>
                        <div *ngIf="submitted && addEditTemplateForm.controls.template_content_en.errors"
                        class="form-control-feedback" style="color: red">
                        <p *ngIf="submitted && addEditTemplateForm.controls.template_content_en.errors?.required">
                            {{'HELP.VALIDATION.FIELD_REQUIRED' | translate }}
                        </p>
                       </div>
                    </div>
                </div>
                <!----- CK Editor ar --->
                <!-- <div class="form-group  row">
                    <div class="col-md-12  col-lg-12">
                        <label for="example-text-input" class="col-form-label" [(ngModel)]="val">
                            {{'TEMPLATE.LABEL.TEMPLATE_CONTENT_AR' | translate}}*
                        </label>
                    </div>
                    <div class=" col-md-12 col-lg-12" *ngIf="Editor">
                        <ckeditor #editor [editor]="Editor" class="form-control ht-auto" type="text"
                            placeholder="Enter Contant" formControlName="template_content_ar"
                            [ngClass]="{ 'is-invalid': submitted && addEditTemplateForm.controls.template_content_ar.errors }">
                        </ckeditor>
                        <div *ngIf="submitted && addEditTemplateForm.controls.template_content_ar.errors"
                        class="form-control-feedback" style="color: red">
                        <p *ngIf="submitted && addEditTemplateForm.controls.template_content_ar.errors?.required">
                            {{'HELP.VALIDATION.FIELD_REQUIRED' | translate }}
                        </p>
                       </div>
                    </div>
                </div> -->
                <div class="form-group  row">
                    <div class="col-xl-12">
                        <div class="col-xl-12">
                            <button type="button" routerLink="/template-list/list"
                                class="btn btn-secondary btn-elevate btn-icon-sm mr-3">{{'BUTTONS.CANCEL' | translate }}</button>
                                <button type="submit" (click)="onSubmit()" 
                            class="btn btn-brand btn-elevate btn-icon-sm bt-right"> {{'BUTTONS.SUBMIT' | translate }}
                           </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>