<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<a href="javascript:;" class="kt-login__logo pull-center">
			<!-- <img src="./assets/media/logos/logo-4.png" alt="" width="150" height="80"> -->
			<img [attr.src]="logo" alt="" width="150" height="80">
		</a>
		<div class="kt-login__title">
			<h3>Sign In</h3>
		</div>
		<kt-auth-notice></kt-auth-notice>
		<!--begin::Form-->
		<form class="kt-form" (ngSubmit)="submit()" [formGroup]="loginForm">


			<div class="form-group m-form__group">
				<input class="form-control m-input" formControlName="user_email" type="email" placeholder="{{'AUTH.LABEL.EMAIL' | translate}}"
				 [ngClass]="{ 'is-invalid': submitted && loginForm.controls.user_email.errors }">
			</div>
			<div *ngIf="submitted && loginForm.controls.user_email.errors" class="form-control-feedback" style="color:red">
				<p *ngIf="submitted && loginForm.controls.user_email.errors?.required">
					{{ 'AUTH.VALIDATION.EMAIL_REQUIRED' | translate }}
				</p>
				<p *ngIf="submitted && loginForm.controls.user_email.errors?.email">
					{{ 'AUTH.VALIDATION.EMAIL_INVALID' | translate }}
				</p>
				<p *ngIf="submitted && loginForm.controls.user_email.errors?.pattern">
					{{ 'AUTH.VALIDATION.EMAIL_INVALID' | translate }}
				</p>
			</div>
			<div class="form-group m-form__group">
				<input class="form-control m-input m-login__form-input--last" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.user_password.errors }"
				 formControlName="user_password" type="password" placeholder="{{'AUTH.LABEL.PASSWORD' | translate}}">
			</div>
			<div *ngIf="submitted && loginForm.controls.user_password.errors" class="form-control-feedback" style="color: red">
				<p *ngIf="submitted && loginForm.controls.user_password.errors?.required">
					{{'AUTH.VALIDATION.PASSWORD_REQUIRED' | translate}}
				</p>
				<p *ngIf="submitted && loginForm.controls.user_password.errors?.pattern">
					{{'AUTH.VALIDATION.PASSWORD_INVALID' | translate}}
				</p>
			</div>

			<!--begin::Action-->
			<div class="kt-login__actions">
				<a href="javascript:;" routerLink="/forgot-password" class="kt-link kt-login__link-forgot">
					{{ 'AUTH.BUTTONS.FORGOT_BUTTON' | translate }}
				</a>
				<button id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">{{ 'AUTH.BUTTONS.LOGIN' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
		<!--end::Form-->
	</div>
	<!--end::Signin-->
</div>
<!--end::Body-->