<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{'ROLES.LIST' | translate }}</h3>
        </div>
        <div class="btn kt-portlet__head-label">

        </div>
        <div class="btn kt-portlet__head-label" *ngIf="createPermission">
            <a href="javascript:;" routerLink="/roles/add" class="btn btn-brand btn-elevate btn-icon-sm margin-r-5">
                <i class="la la-plus"></i>{{'BUTTONS.ADDNEW' | translate }}</a>
            <a href="javascript:;" routerLink="/roles/permission-matrix" class="btn btn-brand btn-elevate btn-icon-sm">
                <i class="la la-key"></i>Permission Matrix </a>
        </div>
    </div>

    <div class="kt-portlet__body">

        <div class="kt-section">
            <table class="table table-striped- table-bordered table-hover table-checkable action_tbl" id="kt_datatable">
            </table>
        </div>
    </div>
</div>